<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-mapping PUBLIC "-//Hibernate/Hibernate Mapping DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-mapping-3.0.dtd">

<hibernate-mapping>

	<!-- 股票 -->
	<class name="com.sshx.entity.Stock" table="stock">
	
		<id name="id" type="java.lang.Long">
			<column name="ID" />
			<generator class="identity" />
		</id>
		
		<property name="code" type="string">
			<column name="CODE" length="127" not-null="true" unique="true" />
		</property>
		
		<property name="name" type="string">
			<column name="NAME" length="127" not-null="true" unique="true" />
		</property>
		
		<!-- many-to-many -->
		<set name="funds" table="stock_fund" inverse="true" cascade="all" lazy="true" fetch="join">
			<key>
				<column name="STOCK_ID" not-null="true" />
			</key>
			<many-to-many entity-name="com.sshx.entity.Fund">
				<column name="FUND_ID" not-null="true" />
			</many-to-many>
		</set>
	
	</class>
	
	<!-- 基金 -->
	<class name="com.sshx.entity.Fund" table="fund">

		<id name="id" column="ID" type="java.lang.Long">
			<generator class="identity" />
		</id>

		<property name="name" type="string">
			<column name="NAME" length="255" not-null="true" unique="true" />
		</property>

		<property name="desc" type="string">
			<column name="[DESC]" not-null="true" />
		</property>

		<!-- many-to-many -->
		<set name="stocks" table="stock_fund" inverse="false" cascade="save-update" lazy="true" fetch="join">
			<key>
				<column name="FUND_ID" not-null="true" />
			</key>
			<many-to-many entity-name="com.sshx.entity.Stock">
				<column name="STOCK_ID" not-null="true" />
			</many-to-many>
		</set>

		<!-- one-to-one -->
		<one-to-one name="fundNet" class="com.sshx.entity.FundNet" cascade="all" />

	</class>

	<!-- 資金淨值 -->
	<class name="com.sshx.entity.FundNet" table="fundnet">

		<id name="id" column="ID">
			<generator class="foreign">
				<param name="property">fund</param>
			</generator>
		</id>

		<property name="value" column="value" />

		<!-- one-to-one -->
		<one-to-one name="fund" class="com.sshx.entity.Fund" constrained="true" />

	</class>

</hibernate-mapping>
